<!Doctype>
<html>
  <head>Squirrel Sightings Stats</head>
  <body>
   <ul>
    <li>The number of squirrels which were seen climbing a tree is:{{ climbing }}.</li>
    <li>The number of squirrels which were seen foraging for food is:{{ foraging }}.</li>
    <li>The number of squirrels which were seen approaching human is:{{ approaches }}.</li>
    <li>The number of squirrels which were seen running is:{{ running }}.</li>
    <li>The number of squirrels which were seen eating is:{{ eating }}.</li>
   </ul>
  </body>
</html>
