<!doctype html>
<html lang="en">
  <head>
    <title> Squirrel Sightings Stats </title>
  </head>
  <body>
    <h2> Squirrel Sightings Stats </h2>
    <table>
      <tr>
	<th> </th>
	<th>
	<th>&nbsp;&nbsp;&nbsp;&nbsp;adult&nbsp;&nbsp;&nbsp;&nbsp;</th>
	<th>&nbsp;&nbsp;&nbsp;&nbsp;fur&nbsp;&nbsp;&nbsp;&nbsp;</th>
	<th>&nbsp;&nbsp;&nbsp;&nbsp;loc&nbsp;&nbsp;&nbsp;&nbsp;</th>
	<th>&nbsp;&nbsp;&nbsp;&nbsp;running&nbsp;&nbsp;&nbsp;&nbsp;</th>
	<th>&nbsp;&nbsp;&nbsp;&nbsp;eating&nbsp;&nbsp;&nbsp;&nbsp;</th>
      </tr>
      <tr>
        <th>True</th>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ adult1 }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ fur1 }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ loc1 }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ running1 }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ eating1 }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
      </tr>
      <tr>
        <th>False</th>
	<td>&nbsp;&nbsp;&nbsp;&nbsp;{{ adult0 }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ fur0 }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ loc0 }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ running0 }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ eating0 }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
      </tr>
    </table>
  </body>
</html>
