<!Doctype>
<html>
  <head>
    <title> Squirrel Sightings Stats </title>
  </head>
  <body>
   <ul>
    <li>The number of adult squirrels is:{{ adult }}</li>
    <li>The number of squirrels which have grey primary fur color is:{{ fur }}</li>
    <li>The number of squirrels which are sighted above ground is:{{ loc }}</li>
    <li>The number of squirrels which was seen running is:{{ running }}</li>
    <li>The number of squirrels which was seen eating is:{{ eating }}</li>
   </ul>
  </body>
</html>
